body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

.navbar-toggler {
    padding: 3px 8px 2px 8px;
}

.navbar-main {
    background-color: #333 !important;
}

.navbar-brand {
    color: #80d780 !important;
}

.navbar-toggler {
    border: solid 1px #eee !important;
    border-radius: 0px;
}

.navbar-toggler-icon {
    width: 28px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item .nav-link {
    color: #eee !important;
}

.nav-item .nav-link:hover {
    color: #fff !important;
}

.nav-item .nav-link.nav-home {
    color: #ffdb87 !important;
}

.nav-item .nav-link.nav-home:hover {
    color: #ffce44 !important;
}

.nav-item .nav-link.ex-count {
    color: #a5d1e4 !important;
}

.nav-item .nav-link.ex-count:hover {
    color: #a5d1e4 !important;
}

.nav-item.blank-item {
    color: transparent;
}

.jumbotron-main {
    padding-top: 80px;
    padding-bottom: 10px;
    border-radius: 0px;
    background-color: #4c4c4c !important;
}

.jumbotron-main * {
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.btn-block .btn{
    width: 100%;
}

.btn-info,
.btn-info:focus,
.btn-info:active {
    color: #fff;
    background-color: #2896ad;
    border-color: #2896ad;
}

.btn-info:hover {
    color: #fff;
    background-color: #2e7d8e;
    border-color: #2e7d8e;
}

.section-area {
    margin: 0;
    padding: 10px 0 10px 0;
    border-bottom: solid 1px transparent;
}

.section-course {
    margin: 0;
    padding: 28px 0 10px 0;
    border-bottom: solid 1px transparent;
}

.section-course div {
    text-align: center;
}

.footer-hr {
    margin-top: 60px;
}

.texti-code,
.texti-code * {
    font-family: Consolas, "Microsoft JhengHei";
}

@media screen and (max-device-width: 640px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    pre code {
        font-size: 16px !important;
        margin-left: -90px;
    }

    .bg-inverse {
        opacity: 0.95;
    }

    .nav-item .nav-link {
        padding: 5px 0px;
        font-size: 20px;
    }

    .nav-item:first-child {
        margin-top: 20px;
    }

    ul.navbar-nav {
        padding-bottom: 40px;
    }
}